@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-2xl: 1400px;
  --breakpoint-xs: 480px;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--color-red-600);
  --color-blue-light: var(--blue-light);
  --color-blue-dark: var(--blue-dark);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --blue-light: hsl(219, 98%, 51%);
  --gray-light: hsl(0, 0%, 95%);
  --radius: 0.3rem;
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 14%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 14%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 14%);
  --blue-dark: hsl(225, 100%, 11%);
  --primary-foreground: hsl(0 0% 90%);
  --secondary: hsl(214 100% 97%);
  --secondary-foreground: hsl(0 0% 20%);
  --muted: hsl(0 0% 97%);
  --muted-foreground: hsl(0 0% 56%);
  --accent: hsl(0 0% 97%);
  --accent-foreground: hsl(0 0% 20%);
  --destructive: hsl(27 75% 60%);
  --border: hsl(0 0% 92%);
  --input: hsl(0 0% 92%);
  --ring: hsl(0 0% 71%);
  --chart-1: hsl(41 80% 65%);
  --chart-2: hsl(185 50% 58%);
  --chart-3: hsl(227 40% 38%);
  --chart-4: hsl(84 70% 82%);
  --chart-5: hsl(70 75% 77%);
  --sidebar: hsl(0, 0%, 100%);
  --sidebar-foreground: hsl(0 0% 14%);
  --sidebar-primary: hsl(0 0% 20%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(0 0% 97%);
  --sidebar-accent-foreground: hsl(0 0% 20%);
  --sidebar-border: hsl(0 0% 92%);
  --sidebar-ring: hsl(0 0% 71%);
}

.dark {
  --background: hsl(0 0% 14%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(0 0% 20%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(0 0% 20%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 92%);
  --primary-foreground: hsl(0 0% 20%);
  --secondary: hsl(0 0% 27%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(0 0% 27%);
  --muted-foreground: hsl(0 0% 71%);
  --accent: hsl(0 0% 27%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(22 65% 70%);
  --border: hsl(0 0% 100% / 10%);
  --input: hsl(0 0% 100% / 15%);
  --ring: hsl(0 0% 56%);
  --chart-1: hsl(264 80% 48%);
  --chart-2: hsl(162 70% 67%);
  --chart-3: hsl(70 75% 77%);
  --chart-4: hsl(304 85% 60%);
  --chart-5: hsl(16 80% 63%);
  --sidebar: hsl(0 0% 20%);
  --sidebar-foreground: hsl(0 0% 98%);
  --sidebar-primary: hsl(264 80% 48%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(0 0% 27%);
  --sidebar-accent-foreground: hsl(0 0% 98%);
  --sidebar-border: hsl(0 0% 100% / 10%);
  --sidebar-ring: hsl(0 0% 56%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply relative w-screen overflow-x-hidden bg-background;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility container {
  margin-inline: auto;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@supports (view-transition-name: test) {
  [data-support] [data-support-yes] {
    display: inline;
  }
  [data-support] [data-support-no] {
    display: none;
  }
}

@supports not (view-transition-name: test) {
  [data-support] [data-support-yes] {
    display: none;
  }
  [data-support] [data-support-no] {
    display: inline;
  }
}

/* Safari */
@supports (-webkit-hyphens: none) and (not (-moz-appearance: none)) {
  [data-support] [data-support-yes] {
    display: none;
  }
  [data-support] [data-support-no] {
    display: inline;
  }
}
